__pycache__
*.tar
*.c
*.s
*.o
*.log
*.sqlite3
*.bak
.config/
platform.info
callchain_checker/build/
dce_instrumenter/build/
dead_instrumenter/build
gcc/
llvm-project/
compiler_cache/
logs/
*-stats.txt
.vscode
